*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
}
body {
    color: #4c6986;
    font-family: "Merriweather Sans", sans-serif;
}
.wrapper {
    align-items: center;
    display: flex;
    height: 800px;
    justify-content: space-between;
    margin: 0 auto;
    max-width: 1440px;
    padding: 80px;
}
.title {
    max-width: 500px;
}
.title h1 {
    font-size: 70px;
    font-weight: bold;
}
.restart {
    align-items: center;
    border: 2px solid #4c6986;
    cursor: pointer;
    border-radius: 50px;
    display: flex;
    font-weight: bold;
    height: 50px;
    justify-content: center;
    margin-top: 30px;
    transition: all 0.2s ease;
    width: 175px;
}
.restart:hover {
    background-color: #4c6986;
    color: #fff;
}
.game {
    display: flex;
    flex-direction: column;
    height: 500px;
    width: 500px;
}
.header {
    display: flex;
    color: #9a9a9a;
    font-size: 24px;
}
.header .player-X {
    border-bottom: 5px solid #eee;
    flex: 1;
    padding-bottom: 8px;
}
.header .player-X.active {
    color: #42bed7;
    border-color: #42bed7;
}
.header .player-O {
    border-bottom: 5px solid #eee;
    flex: 1;
    padding-bottom: 8px;
}
.header .player-O.active {
    color: #d7bafb;
    border-color: #d7bafb;
}
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0px;
    flex-grow: 1;
    padding: 10px;
}
.grid .player-winner span {
    color: #23ce6b;
}
.grid-tile {
    align-items: center;
    cursor: pointer;
    display: flex;
    font-size: 80px;
    justify-content: center;
}
.grid-tile:hover {
    background-color: #eee;
}
.grid-tile:not(:nth-child(3n)){
    border-right: 3px solid rgba(137, 163, 189, 0.58);
}
.grid-tile:not(:nth-last-child(-n+3)) {
    border-bottom: 3px solid rgba(137, 163, 189, 0.58);
}
.grid-tile .x-type {
    color: #42bed7;
}
.grid-tile .o-type {
    color: #d7bafb;
}

@media only screen and (max-width: 1200px) {
    .wrapper {
        flex-direction: column;
        padding: 40px;
    }
    .left-section {
        margin-bottom: 50px;
    }
    .title h1 {
        font-size: 50px;
    }
    .restart {
        font-size: 14px;
    }
}
@media only screen and (max-width: 650px) {
    .wrapper {
        flex-direction: column;
        height: 690px;
    }
    .title h1 {
        font-size: 30px;
    }
    .game {
        height: 300px;
        width: 300px;
    }
    .header {
        margin-bottom: 30px;
    }
    .grid-tile {
        font-size: 55px;
    }
    /* .left-section {
        align-items: center;
        display:flex;
        margin-bottom: 50px;
    }
    .restart {
        margin-top: 0;
        margin-left: 80px;
    } */
}